<!doctype html>
<html>
  <head>
    {{#head}}
    <title>{{title}}</title>
    {{/head}}

    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>

    <h1>Train Departures</h1>

    <script src="/assets/script.js"></script>
  </body>
</html>
