<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui">

    {{#head}}
    <title>{{title}}</title>
    {{/head}}

    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>

    <h1>Train Departures</h1>
    <div id="app" />
    <script src="assets/script.js"></script>
  </body>
</html>
