
body {
  font-family: sans-serif;
  margin: 1rem;
  padding:0;
}

[data-component-id='stationSearch'] {
  width: 100%;
  font-size: 1.5rem;
}

[data-component-id='recentList'] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

[data-component-id='recentList'] li a {
  display: block;
  float: left;
  margin: 0.1em 0.5em;
  color: blue;
  font-size: 1.5rem;
}

[data-component-id='recentList'] li a:visited {
  color: blue;
}



[data-component-id='departureTable'] {
  width: 100%;
  border-collapse: collapse;
}

[data-component-id='departureTable'].is-empty {
  display:none;
}

[data-component-id='departureTable'] .is-delayed {
  color: #800;
}

[data-component-id='departureTable'] .departureTable-info {
  display:none;
}

[data-component-id='departureTable'] th {
  text-align: left;
  background-color: #ccc;
}

[data-component-id='departureTable'] tr {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.25rem;
}

[data-component-id='departureTable'] th,
[data-component-id='departureTable'] td {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5em 0.1em;
  font-size: 1.25rem;
}

[data-component-id='departureTable'] tr:nth-child(odd) {
  background: #eee;
}

@media
only screen and (max-width: 640px) {
  [data-component-id='departureTable'] .departureTable-info {
    display:inline-block;
    width: 6em;
  }

  [data-component-id='departureTable'] .departureTable-content {
    display:inline-block;
  }

  [data-component-id='departureTable'] td {
    display: block;
    width: 100%;
    padding: 0.1em 0;
		border: none;
		position: relative;
  }

  [data-component-id='departureTable'] table {
    display: block;
  }

  [data-component-id='departureTable'] tr {
		display: block;
    padding: 0.5em 0;
    overflow: hidden;
  }

  [data-component-id='departureTable'] tr:nth-child(1) {
    display: none;
  }

  [data-component-id='departureTable'] tr:nth-child(2) {
    padding-top: 0;
  }
}